POSTGRES_DB=loja_celulares
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/loja_celulares?schema=public
BACKEND_PORT=3001
FRONTEND_PORT=3000
JWT_SECRET=trocar_essa_chave
JWT_REFRESH_SECRET=trocar_essa_chave_refresh
ADMIN_EMAIL=admin@loja.local
ADMIN_PASSWORD=troque_esta_senha
ADMIN_NAME=Administrador
VITE_API_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000
N8N_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5678
N8N_WEBHOOK_URL=http://localhost:5678
N8N_ENCRYPTION_KEY=troque_por_uma_chave_forte_do_n8n
EVOLUTION_API_PORT=8080
EVOLUTION_API_SERVER_TYPE=http
EVOLUTION_API_SERVER_URL=http://localhost:8080
EVOLUTION_API_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/loja_celulares?schema=evolution_api
EVOLUTION_API_DATABASE_CLIENT_NAME=loja_celulares_evolution
EVOLUTION_API_AUTHENTICATION_API_KEY=troque_por_uma_chave_forte_da_evolution_api
GENERIC_TIMEZONE=America/Sao_Paulo
